{% extends 'base.html' %}

{% block head %}
<title>My Account</title> 
{% endblock %}

{% block navbar %} 

{% endblock%}

{% block body %}
    <!-- start currency rates -->
    <div class="currency_rate">
        <div class="row">
            <div class="col-md-2 col-sm-4">
                <div class="usd text_align_center">
                    <h4><span>USD</span> 123456.09 <br> Last Price </h4>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="usd text_align_center">
                    <h4>USD 123456.09 <br> Daily Change </h4>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="usd text_align_center">
                    <h4>USD 123456.09 <br> 24 Hour Low </h4>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="usd text_align_center">
                    <h4>USD 123456.09 <br> 24 Hour High </h4>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="usd text_align_center">
                    <h4>USD 123456.09 <br> Today Open </h4>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="usd text_align_center">
                    <h4>BTC 09876 <br> 24 hour volume </h4>
                </div>
            </div>
        </div>
    </div>
    <!-- end currency rates -->
        
    <!-- Accounts on PeriBANK -->
    <div class="wallet">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <p>What transaction would you like to do today?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end wallet -->

    <!-- graf -->
    <div class="graf">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs md-tabs graf_tab" id="myTabMD" role="tablist">
                        <li>
                            <a class="nav-link active" id="home-tab-md" data-toggle="tab" href="#tab1" role="tab" aria-controls="home-md" aria-selected="true">View Balance</a>
                        </li>
                        <li>
                            <a class="nav-link" id="profile-tab-md" data-toggle="tab" href="#tab2" role="tab" aria-controls="profile-md" aria-selected="false">Deposit</a>
                        </li>
                        <li>
                            <a class="nav-link" id="contact-tab-md" data-toggle="tab" href="#tab3" role="tab" aria-controls="contact-md" aria-selected="false">Withdraw</a>
                        </li>
                        <li>
                            <a class="nav-link" id="contact-tab-md" data-toggle="tab" href="#tab4" role="tab" aria-controls="contact-md" aria-selected="false">Transfer</a>
                        </li>
                        <li>
                            <a class="nav-link" id="contact-tab-md" data-toggle="tab" href="#tab5" role="tab" aria-controls="contact-md" aria-selected="false">Request Statement</a>
                        </li>
                    </ul>
                    <!-- View Balance -->
                    <div class="tab-content card  graf_content" id="myTabContentMD">
                        <div class="tab-pane fade show active padi" id="tab1" role="tabpanel" aria-labelledby="home-tab-md">
                            <div class=" col-md-10 offset-md-1">
                                <form id="request" class="main_form">
                                    <div class="row">
                                        <div class="col-md-6 ">
                                            <input class="contactus" placeholder="Full Name" type="type" name="Full Name">
                                        </div>
                                        <div class="col-md-6">
                                            <input class="contactus" placeholder="Email" type="type" name="Email">
                                        </div>
                                        <div class="col-md-6">
                                            <input class="contactus" placeholder="Phone number" type="type" name="Phone number">
                                        </div>
                                        <div class="col-md-6">
                                            <textarea class="textarea" placeholder="Message" type="type" Message="Name"></textarea>
                                        </div>
                                        <div class="col-md-12">
                                            <button class="send_btn">Send</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    <!-- Deposit -->
                    <div class="tab-pane fade padi" id="tab2" role="tabpanel" aria-labelledby="profile-tab-md">
                        <div class=" col-md-10 offset-md-1">
                            <form id="request" class="main_form">
                                <div class="row">
                                    <div class="col-md-6 ">
                                        <input class="contactus" placeholder="Full Name" type="type" name="Full Name">
                                    </div>
                                    <div class="col-md-6">
                                        <input class="contactus" placeholder="Email" type="type" name="Email">
                                    </div>
                                    <div class="col-md-6">
                                        <input class="contactus" placeholder="Phone number" type="type" name="Phone number">
                                    </div>
                                    <div class="col-md-6">
                                        <textarea class="textarea" placeholder="Message" type="type" Message="Name"></textarea>
                                    </div>
                                    <div class="col-md-12">
                                        <button class="send_btn">Send</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Withdraw -->
                    <div class="tab-pane fade padi" id="tab3" role="tabpanel" aria-labelledby="contact-tab-md">
                        <div class=" col-md-10 offset-md-1">
                            <form id="request" class="main_form">
                                <div class="row">
                                    <div class="col-md-6 ">
                                        <input class="contactus" placeholder="Full Name" type="type" name="Full Name">
                                    </div>
                                    <div class="col-md-6">
                                        <input class="contactus" placeholder="Email" type="type" name="Email">
                                    </div>
                                    <div class="col-md-6">
                                        <input class="contactus" placeholder="Phone number" type="type" name="Phone number">
                                    </div>
                                    <div class="col-md-6">
                                        <textarea class="textarea" placeholder="Message" type="type" Message="Name"></textarea>
                                    </div>
                                    <div class="col-md-12">
                                        <button class="send_btn">Send</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Transfer -->
                    <div class="tab-pane fade padi" id="tab4" role="tabpanel" aria-labelledby="contact-tab-md">
                        <div class=" col-md-10 offset-md-1">
                            <form id="request" class="main_form">
                                <div class="row">
                                    <div class="col-md-6 ">
                                        <input class="contactus" placeholder="Full Name" type="type" name="Full Name">
                                    </div>
                                    <div class="col-md-6">
                                        <input class="contactus" placeholder="Email" type="type" name="Email">
                                    </div>
                                    <div class="col-md-6">
                                        <input class="contactus" placeholder="Phone number" type="type" name="Phone number">
                                    </div>
                                    <div class="col-md-6">
                                        <textarea class="textarea" placeholder="Message" type="type" Message="Name"></textarea>
                                    </div>
                                    <div class="col-md-12">
                                        <button class="send_btn">Send</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>    
                    <!-- Request Statement -->
                    <div class="tab-pane fade padi" id="tab5" role="tabpanel" aria-labelledby="contact-tab-md">
                        <div class=" col-md-10 offset-md-1">
                            <form id="request" class="main_form">
                                <div class="row">
                                    <div class="col-md-6 ">
                                        <input class="contactus" placeholder="Full Name" type="type" name="Full Name">
                                    </div>
                                    <div class="col-md-6">
                                        <input class="contactus" placeholder="Email" type="type" name="Email">
                                    </div>
                                    <div class="col-md-6">
                                        <input class="contactus" placeholder="Phone number" type="type" name="Phone number">
                                    </div>
                                    <div class="col-md-6">
                                        <textarea class="textarea" placeholder="Message" type="type" Message="Name"></textarea>
                                    </div>
                                    <div class="col-md-12">
                                        <button class="send_btn">Send</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end graf -->

{% endblock %}