{% extends 'base.html' %}

{% block head %}
<title>Home</title> 
{% endblock %}

{% block navbar %} 

{% endblock%}

{% block body %} 
<!-- start banner section -->
<div id="top_section" class=" banner_main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row d_flex">
                    <div class="col-md-6">
                        <div class="con_img">
                            <figure><img class="img_responsive" src="static/images/top_img.png" alt="#" /></figure>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="bluid">
                            <h1>Welcome<br> To Peripheral Bank</h1>
                            <p>The bank of the future!</p>
                            <a class="read_more" href="{{ url_for('bankers.register')}}">New Account </a><a class="read_more" href="{{ url_for('bankers.login')}}">Customer Login </a>
                        </div>
                    </div>
                </div>              
            </div>
        </div>
    </div>
</div>
<!-- end banner section -->
<!-- start slider section -->
<div id="top_section" class=" banner_main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container-fluid">
                                <div class="carousel-caption relative">
                                    <div class="row d_flex">
                                        <div class="col-md-6">
                                            <div class="con_img">
                                                <figure><img class="img_responsive" src="static/images/top_img.png" alt="#" /></figure>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="bluid">
                                                <h1>Welcome<br> To The Peripheral Bank</h1>
                                                <p>The bank of the future!</p>
                                                <a class="read_more" href="{{ url_for('bankers.register')}}">New Account </a><a class="read_more" href="{{ url_for('bankers.login')}}">Customer Login </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container-fluid">
                                <div class="carousel-caption relative">
                                    <div class="row d_flex">
                                        <div class="col-md-6">
                                            <div class="con_img">
                                                <figure><img class="img_responsive" src="static/images/top_img.png" alt="#" /></figure>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="bluid">
                                                <h1>Welcome<br> To The Peripheral Bank</h1>
                                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                                                </p>
                                                <a class="read_more" href="{{ url_for('bankers.register')}}">New Account </a><a class="read_more" href="{{ url_for('bankers.login')}}">Customer Login </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container-fluid">
                                <div class="carousel-caption relative">
                                    <div class="row d_flex">
                                        <div class="col-md-6">
                                            <div class="con_img">
                                                <figure><img class="img_responsive" src="static/images/top_img.png" alt="#" /></figure>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="bluid">
                                                <h1>Welcome<br> To The Peripheral Bank</h1>
                                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                                                </p>
                                                <a class="read_more" href="{{ url_for('bankers.register')}}">New Account </a><a class="read_more" href="{{ url_for('bankers.login')}}">Customer Login </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end slider section -->
<!-- about -->
<div id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="about_border">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="titlepage text_align_left">
                                <h2>About Us</h2>
                            </div>
                            <div class="about_text">
                                <p>It is a long established fact that a reader will be distracted by It is a long established fact that a reader will be distracted by
                                    It is a long established fact that a reader will be distracted by It is a long established fact that a reader will be distracted by</p>
                                <a class="read_more" href="#">Read More</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about_img">
                                <figure><img class="img_responsive" src="static/images/about2.png" alt="#" /></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end about -->
<!-- contact -->
<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage text_align_center">
                    <h2>Contact Us</h2>
                </div>
            </div>
            <div class=" col-md-10 offset-md-1">
                <form id="request" class="main_form">
                    <div class="row">
                        <div class="col-md-6 ">
                            <input class="contactus" placeholder="Full Name" type="type" name="Full Name">
                        </div>
                        <div class="col-md-6">
                            <input class="contactus" placeholder="Email" type="type" name="Email">
                        </div>
                        <div class="col-md-6">
                            <input class="contactus" placeholder="Phone number" type="type" name="Phone number">
                        </div>
                        <div class="col-md-6">
                            <textarea class="textarea" placeholder="Message" type="type" Message="Name"></textarea>
                        </div>
                        <div class="col-md-12">
                            <button class="send_btn">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end contact -->
{% endblock %}