{% extends 'base.html' %}

{% block head %}
<title>Customer Profile</title> 
{% endblock %}

{% block navbar %} 

{% endblock%}

{% block body %} 
    <!-- start profile form -->
    <div class="new_acc container">
      <div class="col-md-12 ">
          <div class="about_border">
              <div class="contact">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="titlepage text_align_center">
                                  <h2>New Account</h2>
                              </div>
                          </div>
                          <div class=" col-md-10 offset-md-1">
                              <form id="request" class="main_form">
                                  <h2>Personal Details</h2>
                                  <hr>
                                  <form>
                                      <div class="form-group">
                                          <label for="acc_number">Account Number:</label>
                                          <input type="number" class="form-control" id="acc_number">
                                        </div>
                                      <div class="form-group">
                                        <label for="pwd">Password:</label>
                                        <input type="password" class="form-control" id="pwd">
                                      </div>
                                      <div class="form-group">
                                          <label for="pwd">Password:</label>
                                          <input type="password" class="form-control" id="pwd">
                                      </div>
                                      <div class="form-group">
                                          <label for="pwd">Password:</label>
                                          <input type="password" class="form-control" id="pwd">
                                        </div>
                                        <div class="form-group">
                                          <label for="acc_number">Account Number:</label>
                                          <input type="number" class="form-control" id="acc_number">
                                        </div>
                                      <div class="form-group">
                                        <label for="pwd">Password:</label>
                                        <input type="password" class="form-control" id="pwd">
                                      </div>
                                      <div class="form-group">
                                          <label for="pwd">Password:</label>
                                          <input type="password" class="form-control" id="pwd">
                                      </div>
                                      <div class="form-group">
                                          <label for="pwd">Password:</label>
                                          <input type="password" class="form-control" id="pwd">
                                      </div>
                                      <hr>
                                  <!--  -->
                                  <h2>Bank Details</h2>
                                      <hr>
                                      <div class="form-group">
                                          <label for="acc_number">Account Number:</label>
                                          <input type="number" class="form-control" id="acc_number">
                                      </div>
                                  <div class="row">
                                      <div class="col-lg-4 form-group">
                                        <label for="pwd">Password:</label>
                                        <input type="password" class="form-control" id="pwd">
                                      </div>
                                      <div class="col-lg-4 form-group">
                                          <label for="pwd">Password:</label>
                                          <input type="password" class="form-control" id="pwd">
                                      </div>
                                      <div class="col-lg-4 form-group">
                                          <label for="pwd">Password:</label>
                                          <input type="password" class="form-control" id="pwd">
                                      </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                      <div class="col-md-6">
                                          <button class="send_btn">Update Changes</button>
                                      </div>
                                      <div class="col-md-6">
                                          <button class="send_btn">Cancel</button>
                                      </div>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- end profile form -->
{% endblock%}