{% extends 'base.html' %}

{% block head %}
<title>New Account</title> 
{% endblock %}

{% block navbar %} 

{% endblock%}

{% block body %} 
  <!-- new account form -->
  <div class="new_acc container">
      <div class="col-md-12 ">
          <div class="about_border">
              <div class="contact">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="titlepage text_align_center">
                                  <h2>New Account</h2>
                              </div>
                          </div>
                          <div class="col-md-10 offset-md-1">
                            {% if error %}
                            <div class="alert alert-danger" role="alert">
                                <p class="text-danger text-center"> {{error}} </p>
                            </div>
                            {% endif %}
                              <form class="main_form" method="post" action="{{ url_for('bankers.register_user') }}" >
                                  <h2>Personal Details</h2>
                                  <hr>
                                  <div class="row">
                                      <div class="col-md-6">
                                          <input class="contactus" placeholder="First Name" type="text" name="firstname">
                                      </div>
                                      <div class="col-md-6">
                                          <input class="contactus" placeholder="Other Name(s)" type="text" name="othername">
                                      </div>

                                      <div class="col-md-6">
                                          <input class="contactus" placeholder="Last Name" type="text" name="lastname">
                                      </div>
                                      <div class="col-md-6">
                                          <input class="contactus" placeholder="Email" type="email" name="email">
                                      </div>
                                      <div class="col-md-6">
                                          <input class="contactus" placeholder="Password" type="password" name="password">
                                      </div>
                                      <div class="col-md-6">
                                          <input class="contactus" placeholder="Confirm Password" type="password" name="confirmPassword">
                                      </div>
                                      <div class="col-md-6">
                                          <input class="contactus" placeholder="Home Address" type="text" name="address">
                                      </div>
                                      <div class="col-md-6">
                                          <input class="contactus" placeholder="Phone Number" minlength="10" maxlength="13" type="number" name="phone">
                                      </div>
                                  </div>
                                  <!--  -->
                                  <h2>Select Bank Type</h2>
                                      <hr>
                                  <div class="row">
                                      <div class="col-md-4 form-check">
                                          <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" name="cashBank" id="" value="Cash Bank">
                                            Cash Bank
                                          </label>
                                      </div>
                                      <div class="col-md-4 form-check">
                                          <label class="form-check-label">
                                              <input type="checkbox" class="form-check-input" name="digitalBank" id="" value="Digital Bank">
                                              Digital Bank
                                            </label>
                                      </div>
                                      <div class="col-md-4 form-check">
                                          <label class="form-check-label">
                                              <input type="checkbox" class="form-check-input" name="cryptoBank" id="" value="Crypto Bank">
                                              Crypto Bank
                                            </label>
                                      </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                      <div class="col-md-6">
                                          <input class="send_btn" type="submit" value="Submit">
                                      </div>
                                      <div class="col-md-6">
                                          <button class="send_btn" onclick="window.location.href='{{ url_for('bankers.index')}}'">Cancel</button>
                                      </div>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- end new account form -->
{% endblock %}