{% extends 'base.html' %}

{% block head %}
<title>My Account</title> 
{% endblock %}

{% block navbar %} 

{% endblock%}

{% block body %} 
    <!-- wallet -->
    <div class="wallet">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Welcome, Customer</h2>
                        <br>
                        <p>What would you like to do today?</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div id="wa_hover" class="wallet_box text_align_center">
                        <i><img src="static/images/wa1.svg" alt="#"/></i>
                        <h3>CASH BANK</h3>
                        <p>It is a long established fact that a reader will be distracted by </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div id="wa_hover" class="wallet_box text_align_center">
                        <i><img src="static/images/wa2.svg" alt="#"/></i>
                        <h3>DIGITAL BANK</h3>
                        <p>It is a long established fact that a reader will be distracted by </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div id="wa_hover" class="wallet_box text_align_center">
                        <i><img src="static/images/wa3.svg" alt="#"/></i>
                        <h3>CRYPTO BANK </h3>
                        <p>It is a long established fact that a reader will be distracted by </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end wallet -->

    <!-- graf -->
<div class="graf">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tab-content card  graf_content" id="myTabContentMD">
                    <div class="tab-pane fade show active padi" id="tab1" role="tabpanel" aria-labelledby="home-tab-md">
                        <div class="row">
                            <div class="col-md-2 col-sm-4">
                                <div class="usd text_align_center">
                                    <h4><span>USD</span> 123456.09 <br> Last Price </h4>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4">
                                <div class="usd text_align_center">
                                    <h4>USD 123456.09 <br> Daily Change </h4>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4">
                                <div class="usd text_align_center">
                                    <h4>USD 123456.09 <br> 24 Hour Low </h4>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4">
                                <div class="usd text_align_center">
                                    <h4>USD 123456.09 <br> 24 Hour High </h4>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4">
                                <div class="usd text_align_center">
                                    <h4>USD 123456.09 <br> Today Open </h4>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4">
                                <div class="usd text_align_center">
                                    <h4>BTC 09876 <br> 24 hour volume </h4>
                                </div>
                            </div>
                        </div>
                        <div class="graf_bootom">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="growth text_align_center">
                                        <figure>
                                            <h3 class="h3tota">Total Growth</h3>
                                            <img class="img_responsive" src="static/images/graf1.jpg" alt="#" />
                                        </figure>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="growth text_align_center">
                                        <h3>LiveTrades <span style="color: #face34;" class="pa_ri">USD 123456.09</span></h3>
                                        <figure><img class="img_responsive" src="static/images/graf2.jpg" alt="#" /></figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end graf -->
{% endblock %}