{% extends 'base.html' %}

{% block head %}
<title>Home</title> 
{% endblock %}

{% block navbar %} 
<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="#" width="30" height="30" class="d-inline-block align-top" alt="P">
      Peripheral Bank
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-header collapse navbar-collapse" id="navbarNav">
        <ul class=" navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
      </div>
</nav>

{% endblock%}

{% block body %} 
<h1>Welcome to Peri Bank</h1>
{% endblock %}